<h1>Want to learn Ruby on Rails. Here are a few community submitted resources to do just that!</h1>

<% @resources.each do |resource| %>
  <div class="resource">
    <h2><%= link_to resource.title, resource.url %></h2>
  </div>
<% end %>
<p><%= link_to "Add a resource", new_resource_path %></p>