<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed" rel="stylesheet">



<h1>Want to learn Ruby on Rails? <br> Here are a few community submitted resources to do just that!</h1>

<% @resources.each do |resource| %>
    <h2><%= link_to resource.title, resource %></h2>
<% end %>
<div class="cities">
   
   <%= link_to "Add a resource", new_resource_path %>
	

</div>

<p><%= paginate @resources %></p>