h1 {
	  font-family: 'Roboto Condensed', sans-serif;  
	  text-align: center;
	  font-size: 40px;
	}


.signupandin a  {
		padding: 10px;
		color: #FF8B8B;
		font-size: 25px;
		font-weight: bold;

}

div.signupandin
{
	text-align:center;
}



.index a {
	font-family: 'Raleway', sans-serif;
	color: #32B67A;
    text-align: center;
	font-size: 40px;
	padding: 20px;
}






div.form {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #32B67A;
	font-size: 30px;

}


a, a:visited {
	text-decoration: none;
}

p a {
	font-family: 'Raleway', sans-serif;
	color: #32B67A;
	text-align: center;
	font-size: 40px;

}

div.show {
	font-family: 'Raleway', sans-serif;
	color: #32B67A;
	text-align: center;
	font-size: 40px;
}

.show ad {
	font-family: 'Raleway', sans-serif;
	color: #32B67A;
}

div.description {
   font-size: 30px;
}

h2 {
	text-align:center;
	font-family: 'Raleway', sans-serif;
	color: #32B67A;
}

.vote a {
	font-size: 30px;
	color: #A6CFE2;
	text-align: center;
	display: block;
	font-weight: bold;


}

.voteshow a {
	font-size: 30px;
	color: #A6CFE2;
	text-align: center;
	display: block;
	padding-top: 20px;
	font-weight: bold;
}

.destroyandedit a {
	color: #FF8B8B;
	text-align: center;
	font-size: 30px;
	display: block;
	font-weight: bold;
}

div.imageindex {
    text-align: center;

}

div.imageshow {
    text-align: center;

}

div.shortdescription {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #776EA7
}


